In [ ]:

# design spiral Hexagon
from turtle import *
pencolor('blue')
colors=['blue','yellow','red']
for i in range(360):
   pencolor(colors[i%3])
   width(i/100 +1 )
   forward(i)
   left(59)

In [ ]:

# design circle
from turtle import  *
pensize(20)
pencolor('yellow')
fillcolor("orange")
begin_fill()
circle(100)
end_fill()

In [ ]:

# design  tangent circle
from turtle import  *
pensize(3)
pencolor('yellow')
for i in range (15):
     circle(10*i)

In [ ]:
# design  spiral circle
from turtle import  *
pensize(5)
pencolor('orange')
for i in range (100):
     circle(10*i)
     up()
     sety((10*i)*(-1))
     down()

In [ ]:

# design  spiral circle
from turtle import  *
pensize(5)
colors=['blue','yellow','red']
for i in range (100):
      pencolor(colors[i%3])
      circle(10*i)
      up()
      sety((10*i)*(-1))
      down()

In [ ]:

# design  olympic logo
from turtle import  *
pensize(6)
colors=['blue','black','red']
for i in range (3):
      penup()
      pencolor(colors[i%3])
      goto(100*i,0)
      pendown()
      circle(45)
      colors1=[" ","yellow"," ","green"]
for i in range (1,4,2):
      penup()
      pencolor(colors1[i])
      goto(55*i,-55)
      pendown()
      circle(45)

In [1]:

# design  audi logo
from turtle import  *
pensize(6)
colors=['black']
for i in range (4):
      penup()
      goto(70*i,0)
      pendown()
      circle(50)

In [3]:
# design  car logo
#dabba
from turtle import  *
bgcolor("lightblue")
color("#2B28F6")
fillcolor("#2B28F6")
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()
#Roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

#Tyres
penup()
goto(100, -10)
pendown()
color('#000000')#black
fillcolor('#000000')
begin_fill()
circle(20)
end_fill()
penup()
goto(400, -10)
pendown()
color('#000000')
fillcolor('#000000')
begin_fill()
circle(20)
end_fill()

### Idiomatic Python

In [6]:
#Looping over range of number
for i in [0,1,2,3,4,5]:
    print(i**2,end=" ")
print()

#Pythonic way
for i in range(6):
    print(i**2,end=" ")

0 1 4 9 16 25
0 1 4 9 16 25

In [8]:
li=[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=" ")
print()

#Pythonic way
for i in li:
    print(i,end=" ")

1 2 3 4 5
1 2 3 4 5

In [12]:
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=" ")
print()    
    #pythonic way
for i in reversed(li): #reverse
    print(i,end=" ")

5 4 3 2 1
5 4 3 2 1

In [16]:
#looping over colection of index
li=[1,2,3,4,5]
for i in range(len(li)):
    print(i,"-->",li[i])
print()  

#Pythonic way
for i,a in enumerate(li): #enumerate
    print(i,"-->",a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [19]:
li=[1,2,3,4,5]
a=[1,2,3,4,5,6,7,8,9]
n=min(len(li),len(a))
for i in range(n):
    print(li[i]," ",a[i])
print()

#Pythonic way
for i,a in zip(li,a): #zip
    print(i," ",a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [25]:
#looping in sorted order
li=[8,11,4,6,78]
for i in sorted(li): #acescending order
    print(i,end=" ")
print()  

for i in sorted(li,reverse=True): # reverse order
    print(i,end=" ")

4 6 8 11 78
78 11 8 6 4

In [26]:
#Dictionary
d={"Name":"Vikash","EmailId":"vikash@gmail.com"}
for k in d:
    print(k,end=" ")

Name EmailId

In [30]:
for k in d.keys():
    if k.startswith("A"):
        del d[k]

In [29]:
print(d)

{'Name': 'Vikash', 'EmailId': 'vikash@gmail.com'}

### List Comprehsion

In [36]:
li=[]
for i in range(10):
    a=i**2
    li.append(a)
print(sum(li))
print()


#Pythonic way
print(sum(i**2 for i in range(10)))

285

285

In [40]:
li=[]
for i in range(10):
    li.append(i**2)
print(li)

com_list=[i**2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
for i in li:
    if i% 2==0:
        print(i,end=" ")

0 4 16 36 64

In [43]:
com_list=[i**2 for i in range(10) if i%2==0 ]
com_list

[0, 4, 16, 36, 64]

In [45]:
import pandas as pd
internal1={"s1":35,"s2":35,"s3":35}
internal2={"s1":45,"s2":45,"s3":45}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    45
s2    45
s3    45
dtype: int64

In [46]:
final={"internal1":internal1,"internal2":internal2}
final=pd.DataFrame(final)
print(final)
print(type(final))

    internal1  internal2
s1         35         45
s2         35         45
s3         35         45
<class 'pandas.core.frame.DataFrame'>

In [47]:
final.columns

Index(['internal1', 'internal2'], dtype='object')

In [48]:
final.values

array([[35, 45],
       [35, 45],
       [35, 45]], dtype=int64)

In [50]:
final.values[1]

array([35, 45], dtype=int64)

In [52]:
final.values[2][0]=350

In [53]:
final.values

array([[ 35,  45],
       [ 35,  45],
       [350,  45]], dtype=int64)

In [55]:
for row in final.values:
    print("internal1 - ",row[0]," internal2 : - ",row[1])

internal1 -  35  internal2 : -  45
internal1 -  35  internal2 : -  45
internal1 -  350  internal2 : -  45

In [57]:
final.loc['s4']=[20,18] #insert the input into data fRAMES
final

    internal1  internal2
s1         35         45
s2         35         45
s3        350         45
s4         20         18

In [58]:
final.values[2]=[155,245]
final

    internal1  internal2
s1         35         45
s2         35         45
s3        155        245
s4         20         18

In [59]:
pwd

'C:\\Users\\cse319'

In [61]:
filePath="Datafile/Income.csv"
def readCsvData(filePath):
    return pd.read_csv(filePath)
readCsvData(filePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528